#recent-news{
  margin-top: em(90px);
  padding-bottom: em(110px);

  a:focus{
    fill: blue;
  }

  h1{
    color: $butterfly-bush;
    font-size: em(28px);
    font-weight: bold;
  }

  .container{
    @media(max-width: $grid-column-break){
      padding: 0 em(35px);
    }
  }

  .grid-container{
    max-width: 1160px;
    display: grid;
    grid-template-columns: 622px 1fr;
    grid-template-rows: em(590px) em(590px);
    grid-column-gap: em(45px);
    grid-row-gap: em(32px);

    @media(max-width: $grid-column-break){
      grid-template-columns: 1fr;
      grid-template-rows: em(590px) em(590px) em(590px) em(590px);
    }

  }

  .grids-item:nth-of-type(odd){
    display: flex;
    flex-direction: column;
    background: #FDFDFD;
    border: 2px solid #E6E6E6;
    border-radius: 13px;

    /* This media query stops the news content's height from ajusting
     and keeps it absoultely at the bottom of the card */
    @media(max-width: 700px){
      position: relative;
    }

    img{
      width: 100%;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    .news-img{
      max-height: 380px;
      min-height: 200px;
    }

    h3{
      color: $butterfly-bush;
      font-size: em(18px);
      margin: 0;
      max-width: 415px;

     @media(min-width: $xs-below) and (max-width: $xs){
      width: 300px;
     }
    }

    p{
      font-size: em(16px);
      font-family: LucidaGrande;
      color: rgba(86,83,83,0.80);
      min-width: 288px;
    }

    .news-content{
      padding: em(22px) em(32px) em(18px) em(20px);
      width: 100%;

      @media(min-width: $xs-below) and (max-width: $xs){
       padding: em(19px) em(30px) em(16px) em(19px);
      }

      /* This media query stops the news content's height from ajusting
       and keeps it absoultely at the bottom of the card */
      @media(max-width: 700px){
        position: absolute;
        bottom: -5px;
      }
    }

    .userfeed-container{
      display: flex;
    }


    .user-feed{
      display: flex;
      align-items: center;

      button{
        border:none;
        background-color: transparent;

        &:focus{
          outline:none;
        }
      }

      .like-button{
        cursor: pointer;
        width: 32px;
        margin-right: em(15px);
      }




      span{
        color: $butterfly-bush;
        font-size: em(20px);
        position: relative;
        top: -2px;
      }
    }

    .comment-feed{
      display: flex;
      align-items: center;
      margin-left: em(35px);
        .comment-img{
          width: 32px;
          margin-right: em(15px)
        }
        span{
          color: $butterfly-bush;
          font-size: em(20px);
        }
    }



  } // Closing Grid-Item-odd

  .grids-item:nth-of-type(even){
    display: flex;
    flex-direction: column;
    background: #FDFDFD;
    border: 2px solid #E6E6E6;
    border-radius: 13px;

    /* This media query stops the news content's height from ajusting
     and keeps it absoultely at the bottom of the card */
    @media(max-width: 700px){
      position: relative;
    }


    img{
      width: 100%;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    .news-img{
      height: 346px;
      @media(max-width: $grid-column-break){
        height: auto;
      }

      @media(min-width: 575px) and (max-width: 700px){
        height: 345px;
      }

      @media(min-width: $xs-below) and (max-width: $xs){
        height: 270px;
      }
    }

    h3{
      color: $butterfly-bush;
      font-size: em(18px);
      margin: 0;
      max-width: 415px;

      @media(min-width: $xs-below) and (max-width: $xs){
       width: 300px;
      }

    }

    p{
      font-size: em(16px);
      font-family: LucidaGrande;
      color: rgba(86,83,83,0.80);
    }

    .news-content{
      padding: em(22px) em(32px) em(35px) em(20px);
      width: 100%;

      @media(min-width: $xs-below) and (max-width: $xs){
       padding: em(19px) em(30px) em(16px) em(19px);
      }

      /* This media query stops the news content's height from ajusting
       and keeps it absoultely at the bottom of the card */
      @media(max-width: 700px){
        position: absolute;
        bottom: -5px;
      }
    }

    .userfeed-container{
      display: flex;
    }


    .user-feed{
      display: flex;
      align-items: center;

      .like-button{
        width: 32px;
        margin-right: em(15px);
      }



      span{
        color: $butterfly-bush;
        font-size: em(20px);
        position: relative;
        top: -1px;
      }
    }

    .comment-feed{
      display: flex;
      align-items: center;
      margin-left: em(35px);
        .comment-img{
          width: 32px;
          margin-right: em(15px)
        }
        span{
          color: $butterfly-bush;
          font-size: em(20px);
        }
    }



  } // Closing Grid-Item-odd


}

// Subscription section



//  Closing Subscription Section

.on{
  fill:red;
}
