

// Base Colors
$black : #000;
$white : #fff;
$white-opacity: rgba(255, 255, 255, 0.82);




// Text
$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;


// Background Colors
$mine-shaft : #2D2D2D;
$catskill-white : #E4EDF4;
$gallery : #F0F0F0; // Grey Color for the tweets section and sponsorship section


// Color Text

$oslo-grey : #787B83;
$emperor : rgba(86,83,83,0.74); // Text Color for the H6

// Media Queries for Devices
$xs : 575px;
$sm : 736px;
$md : 992px;
$lg : 1120px;

// // Media Queries for Workshop Grid
$grid-break-xs: 640px;
$grid-break-md : 960px;
$grid-max: 1100px;

// // Media Queries for form-container
$form-break-sm: 625px;
$form-break-xs: 430px;
