// ==========================================================================
//  Jumbotron
// ==========================================================================

#jumbotron{
  background-color: $catskill-white;
  height: 550px;
  padding: em(20px) em(30px);

  @media(max-width: $xs){
    padding: em(5px) em(20px);
  }

  .first-column{
    max-width: 510px;
    margin-top: em(150px);

    .btn-connect{
      margin-top: em(70px);
    }

    .btn{
   position: relative;
       &-primary{
         @extend %btn-primary;
         margin-right: em(10px);
       }

       &-secondary{
         position: absolute;
         @extend %btn-secondary;

         &:before{
          @include play-button;
         }
       }


    }

  }

}
