

header{
  @extend %header-default;

  nav{

  }

  ul{
    display: flex;
    align-items: center;
  }

  li{
    margin-right: 25px;
    font-size: em(15px);


    a{
      text-decoration: none;
      color: $oslo-grey;
    }

    &:first-child{
      margin-right: auto;
    }

  }

  .hamburger-icon{
    display: none;
  }

  @media(max-width: $md){
    .hamburger-icon{
      display: block;
    }
  }

}
