.panel{
  @extend %panel-default;



h1{
    font-family: Avenir-Book;
    font-size: em(32px);
    color: #BFE0FE;
    text-align: center;
    line-height: 43px;
    margin-bottom: em(15px);

    @media(max-width: $sm){
        font-size: em(28px);
    }

    @media(max-width: $xs){
        font-size: em(25px);
    }

  }

  button{
    @extend %btn-default;
  }
}
