

#subscription{
  display: flex;
  flex-direction: column;
  background-color: $mine-shaft;
  padding: em(80px) em(15px);

  h2{
    text-align: center;
    color: $white;
  }

  .form-container{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: em(20px) auto 0 auto;
    @media(max-width: $form-break-sm){
      display: flex;
      flex-direction: column;
    }



    img{
      width: 28px;
      position: absolute;
      left: 10px;
      top: 14px;

      @media(max-width: $form-break-xs){
        width: 25px;
        left: 15px;
        top: 12px;
      }

    }
    input{
      margin-right: em(90px);

      @media(max-width: $xs-below){
        max-width: 330px;
      }


      @media(max-width: $sm){
        margin-right: em(10px);
      }

      @media(max-width: 660px){
        margin: 0;
      }

      @media(max-width: $form-break-sm){
        width: 370px;
        margin-bottom: em(18px);
      }
    }

    button{
      @extend %btn-form;
      font-size: em(17px);

      @media(max-width: $form-break-xs){
         padding: em(12px) em(15px) !important;
        }

    }
  } // Closing Form Container


} // Closing Subscription
