

#workshop{
  text-align: center;
  padding: 0 1.25em;



  .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-template-rows: repeat(auto-fit, 470px);
    grid-column-gap: 40px;
    max-width: $grid-max;
    margin: em(70px) auto;

    @media(max-width: $xs){
      margin: em(50px) auto;
    }

    @media(max-width: $grid-break-xs){
      grid-row-gap: 30px;
    }

    @media(max-width:$grid-break-md) and (min-width: $grid-break-xs){
      grid-row-gap: 40px;
    }

  } // Closing Grid Container



  .grid-item:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    font-size: em(35px);
    font-weight: bold;
    align-items: center;

    &:before{
      content: "Garowe";
      position: absolute;
    }

    img{
      width: 100%;
      min-height: 400px;
      max-height: 400px;
    }



    /* Title names for each workshop */


  } // Closing Grid Items // 1 //


  .grid-item:nth-of-type(2){
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    font-size: em(35px);
    font-weight: bold;
    align-items: center;

    &:before{
      content: "Galkacyo";
      position: absolute;
    }

    img{
      width: 100%;
      min-height: 400px;
      max-height: 400px;
    }

    @media(max-width: $grid-break-md){

      button{
        margin-top: 18px;
      }
    }


  } // Closing Grid Items   // 2 //



  .grid-item:nth-of-type(3){
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    font-size: em(35px);
    font-weight: bold;
    align-items: center;



    &:before{
      content: "Bosaso";
      position: absolute;
    }

    img{
      width: 100%;
      min-height: 400px;
      max-height: 400px;
    }
    @media(max-width: $grid-break-md){

      button{
        margin-top: 18px;
      }
  }





  } // Closing Grid Items   // 3 //


  button{
    @extend %btn-primary;
    font-size: 18px;
    margin-top: auto;
  }

}
