
h1{
  @extend %hdln-primary;
}

h4{
font-family: LucidaGrande;
font-size: em(15px);
color: $emperor;
}

h6{
font-family: LucidaGrande;
font-size: em(13px);
color: $emperor;
margin-bottom: em(8px);
}

p{
font-family: LucidaGrande;
font-size: em(15px);
color: $emperor;
}


ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: LucidaGrande;
  font-weight: normal;
}
