
  h1{
    @extend %hdln-primary;
  }

  h2{
    @extend %hdln-secondary
  }


  h3{
  font-family: LucidaGrande;
  font-size: em(18px);
  color: $emperor;
  }

  h4{
  font-family: LucidaGrande;
  font-size: em(15px);
  color: $emperor;
  }

  h6{
  font-family: LucidaGrande;
  font-size: em(13px);
  color: $emperor;
  margin-bottom: em(8px);
  }

  p{
  font-family: LucidaGrande;
  font-size: em(15px);
  color: $emperor;
  }


  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: LucidaGrande;
    font-weight: normal;
  }

  input[type="email"]{
    position: relative;
    background-color: #484848;
    border-color: transparent;
    border-radius: 4px;
    width: 420px;
    min-height: 50px;
    padding-left: 80px;

    &::placeholder{
      font-family: LucidaGrande;
      font-weight: normal;
      font-size: em(17px);
    }


  }
