
h1{
  @extend %hdln-primary;
}

p{
font-family: LucidaGrande;
font-size: 15px;
color: rgba(86,83,83,0.74);
}


ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: LucidaGrande;
  font-weight: normal;
}
