// ==========================================================================
// Placeholders
// ==========================================================================

%hdln-primary{
font-family: LucidaGrande;
font-size: 31px;
font-weight: normal;
color: #252424d9;
line-height: 30px;
}



%btn-primary{
  background: #3593C9;
  border-radius: em(100px);
  color: $white-opacity;
  font-family: LucidaGrande;
  padding: em(11px) em(35px);
  outline: 0;
  border-style: none;
}

%btn-secondary{
  background: $white;
  border-radius: em(100px);
  color: rgba(57,53,53,0.82);
  font-family: LucidaGrande;
  padding: em(12px) em(38px);
  outline: 0;
  border-style: none;
}
